### Tablas de multiplicar

Función para crear las tablas de multiplicar
```
 1 x 2 = 2       1 x 3 = 3        1 x 9 = 9
 2 x 2 = 4       2 x 3 = 6        2 x 9 = 18
 3 x 2 = 6       3 x 3 = 9  ...   3 x 9 = 27
    ...            ...              ...
10 x 2 = 20     10 x 3 = 30      10 x 9 = 90
```

Como abordar a solucionar el problema?

In [12]:
def tablaMult(c:int,ini:int=1,k:int=10):
    "Muestra la tabla de multiplicar del número c entre [ini..k]"
    if (ini <= k):
        print("{} x {} = {}".format(ini,c,ini*c))
        ini += 1
        tablaMult(c,ini,k)

In [13]:
tablaMult(3)

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [31]:
def tablas(c:int,fin:int,ini:int=1,k:int=10):
    "Muestra las tablas de multiplicar desde c hasta fin"
    if c <= fin:
        tablaMult(c,ini,k)
        print("-"*10)
        tablas(c+1,fin,ini,k)

In [30]:
tablas(2,5)

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
holaholaholaholaholaholaholaholaholahola
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
holaholaholaholaholaholaholaholaholahola
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
holaholaholaholaholaholaholaholaholahola
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
holaholaholaholaholaholaholaholaholahola

In [22]:
type(2+4j)

complex

### Graficar funciones matemáticas

$y = f(x)$

| x |  f(x)  |
|---|--------|
| 0 | f(0)   |
| 1 | f(1)   |
| 2 | f(2)   |
| . . . | . . .   |
| 9 | f(9)   |

In [2]:
def f(x):
    return x**2

In [24]:
def g(x):
    return 2.5*x+4

In [4]:
def tabular(funcion, x1:int, x2:int):
    "Muestra la tabla de evaluar la función (?) entre [x1..x2]"
    if x1 <= x2:
        y = funcion(x1)
        print("{} -> {}".format(x1,y))
        tabular(funcion, x1+1,x2)

In [5]:
tabular(f,0,10)

0 -> 0
1 -> 1
2 -> 4
3 -> 9
4 -> 16
5 -> 25
6 -> 36
7 -> 49
8 -> 64
9 -> 81
10 -> 100

In [6]:
tabular(g,0,10)

0 -> -4.0
1 -> -3.5
2 -> -3.0
3 -> -2.5
4 -> -2.0
5 -> -1.5
6 -> -1.0
7 -> -0.5
8 -> 0.0
9 -> 0.5
10 -> 1.0

In [7]:
from turtle import *
setup(300,300)

In [8]:
def tabular(funcion, x1:int, x2:int):
    "Muestra la tabla de evaluar la función (?) entre [x1..x2]"
    if x1 <= x2:
        y = funcion(x1)
        #print("{} -> {}".format(x1,y))
        goto(x1*10,y*10)
        tabular(funcion, x1+1,x2)

In [9]:
import math
def h(x):
    return math.log(x)

In [10]:
reset()
tabular(f,-20,20)

In [11]:
def plot(f,x1,x2):
    reset()
    up()
    goto(x1,f(x1))
    down()
    tabular(f,x1,x2)
    exitonclick()

In [13]:
plot(g,-10,10)

In [21]:
def tabular(funcion, x1:int, x2:int):
    "Muestra la tabla de evaluar la función (?) entre [x1..x2]"
    if x1 <= x2:
        y = int(funcion(x1))
        print(" "*y,"*")
        tabular(funcion, x1+1,x2)

In [22]:
tabular(f,-5,10)

                          *
                 *
          *
     *
  *
 *
  *
     *
          *
                 *
                          *
                                     *
                                                  *
                                                                 *
                                                                                  *
                                                                                                     *

In [25]:
tabular(g,-5,5)

 *
 *
 *
 *
  *
     *
       *
          *
            *
               *
                 *